<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <script src="jquery-3.4.1.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
</head>
<body>
<!-- 引入抽取的topbar  th:insert="~{摸板名::选择器/片段名}" -->
<!-- 摸板名：会使用 thymeleaf 的前后缀配置规则进行解析 -->
<div th:replace="~{commens/bar :: topbar}"></div>
<h1>员工管理</h1>

<!-- 引入侧边栏，使用选择器 -->
<div th:replace="commens/bar :: #sidebar(activeUri='emps')"></div>

<div>
    <h2><a class="btn btn-sm btn-success" th:href="@{/emp}">员工添加</a></h2>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Birth</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="emp:${emps}">
                <td th:text="${emp.id}"></td>
                <td>[[${emp.lastName}]]</td>
                <td th:text="${emp.email}"></td>
                <td th:text="${emp.gender==0?'女':'男'}"></td>
                <td th:text="${#dates.format(emp.birth, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <a class="btn btn-sm btn-primary" th:href="@{/emp/}+${emp.id}">编辑</a>
                    <button class="btn btn-sm btn-danger delete" th:attr="del_uri=@{/emp/}+${emp.id}">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
    <form id="deleteEmpForm" method="post">
        <input type="hidden" name="_method" value="delete"/>
<!--        <button class="btn btn-sm btn-danger delete" type="submit">删除</button>-->
    </form>
</div>
<script>
    $(function() {
        $(".delete").click(function () {
            // 删除当前员工
            $("#deleteEmpForm").attr("action", $(this).attr("del_uri")).submit();
            return false;
        });
    })
</script>
</body>
</html>